@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
body, html {
  margin: 0;
  padding: 0;
  background: white;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  background-image: url('./assets/bosh2.jpg');
}
.navbar {
  color: black;
  background-color: white;
  position: fixed;
  top: 5px;
  left: 5px;
  width: 100%;
}
.navbar__links {
  position: fixed;
  top: 5px;
  right: 5px;
  gap: 10px;
  color: black;
  float: right;
}
.navbar__links ul {
  list-style: none;
  padding-top: 15px;
  padding-right: 10px;
  margin: 5px;
  display: flex;
  font-size: px;
}
.nav-link1 {
  padding-right: 30px;
  color: black;
}
.nav-link2 {
  padding-right: 30px;
  color: black;
}
.content {
  color: rgb(255, 255, 255);
  position: relative;
  top: -60px;
  width: 800px;
  text-align: center;
  padding-left: 60px;
  padding-right: 420px;
  margin-top: 50px;
}
.content {
  font-size: large;
}
.content .h1 {
  font-size: smaller !important; ;
}
.column {
  min-width: 100%;
  display: flex;
  padding-top: 200px;
  flex-direction: row;
  
}
.createForm {
  color: rgb(255, 255, 255);
  justify-content: flex-end;
  text-align: center;
  float: end;
  padding-left: 80px;
  margin-right: 20px;
  padding: 5px 15px 10px 15px;
  border: rgb(255, 255, 255) 1px solid;
  border-radius: 5px;
height: fit-content;
  min-width: fit-content;
}
.cars {
  color: rgb(255, 255, 255);
  position: relative;
  padding: 60px;
  flex-direction: row;
  border: black 1px solid;
  margin-right: 20px;
  border-radius: 5px;
}
.carForm{
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 5px;

  font-size: smaller;
}
.inputBox {
color: rgb(255, 255, 255);
padding: 10px;
width: 100%;
}
.typeHere {
  color: rgb(0, 0, 0);
  background-color: white;
  padding: 2px;
  border-radius: 4px;
}
.button {
  color: rgb(0, 0, 0);
  background-color: rgb(233, 233, 233);
  justify-content: center;
}
.button:hover {
  background-color: rgb(157, 157, 157);
}
.carCardsRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.car-card {
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 5px;
  border: rgb(255, 255, 255) 1px solid;
  width: 200px;
  height: 110px;
}
.carName {
  font-weight: bold;
  padding: 2px;
}
.carYear {
  font-style: italic;
  padding: 2px;
  padding-top: 10px !important;
}
.carChassis {
  font-style: italic;
  padding: 2px;
  padding-top: 10px !important;
}
.carList {
color: white;
  padding-right: 10px;
  border: 0px;
}