body, html {
  margin: 0;
  padding: 0;
  background: white;
  font-family: Arial, sans-serif;
  width: 100%;
  background-image: url('./assets/faded.jpg');
}
.navbar {
  color: black;
  position: fixed;
  top: 5px;
  left: 5px;
}
.navbar__links {
  position: fixed;
  top: 5px;
  right: 5px;
  gap: 10px;
  color: black;
  float: right;
}
.navbar__links ul {
  list-style: none;
  padding-top: 10px;
  padding-right: 10px;
  margin: 5px;
  display: flex;
  font-size: px;
}
.nav-link1 {
  padding-right: 10px;;
}
.content {
  color: black;
  position: relative;
  top: -40px;
  text-align: center;
  padding-left: 60px;
  margin-top: 50px;
}
.column {
  min-width: 100%;
  display: flex;
  flex-direction: row;
  padding-bottom: 40px;
}
.createForm {
  color: black;
  justify-content: flex-end;
  text-align: left;
  float: end;
  margin-left: 430px;
  padding: 7px 30px 10px 30px;
  border: black 1px solid;
  border-radius: 5px;
  background-color: rgb(239, 239, 239);
}
.cars {
  color: black;
  position: relative;
  padding: 50px;
  flex-direction: row;
  border: black 1px solid;
}
.carForm{
  color: black;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  font-size: smaller;
}
.inputBox {
color: black;
padding: 5px;
}
.typeHere {
  color: rgb(0, 0, 0);
  background-color: white;
  padding: 2px;
  border-radius: 4px;
}
.button {
  color: rgb(144, 144, 144);
  background-color: rgb(164, 164, 164);

}
.carCardsRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.car-card {
  color: black;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  border: black 1px solid;
  width: 200px;
}