.car-details {
  position: fixed;
  display: flex;
  flex-direction: row;
  margin-top: -630px;
  gap: 30px;
  padding: 35px;

}
.history-container {
  display: flex;
  flex-direction: column;
  gap: 20px;

}
.history-form {
  background-color: #aaaaaa00;
  width: 400px;
  padding-left: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  height: fit-content;
}
.history-form h2 {
  text-align: center;
  color: rgb(255, 255, 255);
}
.history-form button {
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  margin-left: 150px;
  margin-bottom: 10px;
}
.inputBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  height: fit-content;
}


.title {
  flex-direction: column;
  margin-top: 5px;
}
.car-history {
  display: inline-flex;
  background-color: #82828200;
  position: fixed;
  margin-top: 0px;
  margin-left: 40px;
  gap: 30px;
  border-top: 3px solid #ccc;
  border-width: 80%;
}
.history-list {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #aaaaaa00;
  width: 200px;
  text-align: center;
  padding: 10px;


  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


}
.line {
  font-weight: bolder;
  margin-top: -15px;
}
.car-history ul {
  list-style: none;
  padding: 0;
}

.car-history li {
  position: relative;

}
.car-history button {
  margin-top: auto; /* Push the button to the bottom */
  padding: 5px 10px;
  background-color: #c9c9c9;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.car-history button:hover {
  background-color: #cfcfcf;
}
.car-image {
  width: 700px;
  height: auto;
  border-radius: 5px;
  padding-top: 40px;
  margin-bottom: 10px;
}
p {
  color: rgb(255, 255, 255);
  font-size: large;

 justify-content: center;
}