.history-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.history-form {
  background-color: #aaaaaa00;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.car-history {
  background-color: #82828200;
  padding: 15px;
  border-radius: 5px;
  flex-direction: row;
}

.car-history ul {
  list-style: none;
  padding: 0;
}

.car-history li {
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  flex-direction: row;
}